In [1]:
# The code was removed by Watson Studio for sharing.

,Country or Territory,Station Name,WMO Station Number,National Station Id Number,Period,Element-Statistic Qualifier Code,Statistic Description,Unit,Jan,Jan Footnotes,...,Oct,Oct Footnotes,Nov,Nov Footnotes,Dec,Dec Footnotes,Annual,Annual Footnotes,Annual NCDC Computed Value,Annual NCDC Computed Value Footnotes
0,"AFGHANISTAN, ISLAMIC STATE OF",Faiz abad,40904.0,NaN,1961-1983,NaN,Mean Monthly Value,mm,49.4,NaN,...,23.4,NaN,29.7,NaN,34.1,NaN,40.4,NaN,484.9,NaN
1,"AFGHANISTAN, ISLAMIC STATE OF",Sheberghan,40908.0,NaN,1959-1983,NaN,Mean Monthly Value,mm,42.3,NaN,...,6.6,NaN,13.6,NaN,29.8,NaN,19.2,NaN,230.5,NaN
2,"AFGHANISTAN, ISLAMIC STATE OF",Mazar-i-Sharif,40911.0,NaN,1958-1983,NaN,Mean Monthly Value,mm,28.9,NaN,...,3.9,NaN,13.5,NaN,21.7,NaN,15.5,NaN,186.4,NaN
3,"AFGHANISTAN, ISLAMIC STATE OF",Kunduz,40913.0,NaN,1968-1983,NaN,Mean Monthly Value,mm,44.0,NaN,...,7.3,NaN,23.7,NaN,28.4,NaN,26.8,NaN,322.6,NaN
4,"AFGHANISTAN, ISLAMIC STATE OF",Maimana,40922.0,NaN,1964-1983,NaN,Mean Monthly Value,mm,49.9,NaN,...,9.6,NaN,20.9,NaN,44.7,NaN,29.6,NaN,355.6,NaN